*{
    margin: 0;
    padding: 0;
    font-family: Fira Code;
}
body,html{
    width: 100%;
    height: 100%;
}
body{
    background-color: #333333;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader img {
    position: relative;
    width: 10rem;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
}
.loader::before{
    content: "";
    position: absolute;
    width: 10rem;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    border: 0.5rem solid transparent;
    border-top-color: #FF9144;
    animation: loader 0.85s ease-in-out infinite; 
}
#data{
    position: absolute;
    bottom: 1rem;
    font-size: 1rem;
    color: #ffffff;
}
@keyframes loader {
    to{
        transform: rotate(360deg);
    }
}
